body {
  margin: 0;
  font-size: 0;
  font-family: 'Open Sans', sans-serif;
  /* background-color: rgba(135,206,250); */
}
body>* {
  /* font-size: 1rem; */
}


/* HEADER */
.game-header {
  height: 23vh;
  border-bottom: solid black;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  border-radius: 0 0 10px 10px;
  position: relative;
}
.game-header > * {
  display: inline-block;
}

.logo > img {
  height: 100%;
  position: absolute;
}

.logo {
  left: 2%;
  position: absolute;
  height: 100%;
}

.title {
  font-size: 2.5rem;
  margin-left: 32%;
  margin-right: 5%;
}
.title h1 {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}


.fa-cog, .fa-question, .fa-play-circle {
  font-size: 25px;
  color: black;
  padding: 2px;
  border-radius: 20%;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  position: relative;
  display: inline-block;
  margin: 5px;
  border: 1px solid black;
  box-shadow: 0 2px 10px 2px rgba(0,0,0,0.1);
}

.title, .fa-cog, .fa-question {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/* MAIN GAME AREA */
.main {
  /* height: 77vh; */
  /* font-size: 0; */
 /* background-color: rgba(135,206,250); */
 text-align: center;
 background-image: url('images/background.jpg');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 height: 100vh;
 font-size: 1rem;
}
h1 {
  margin-top: 0;
}


/* STATS CONTAINER */

.stats-container {
  height: 100%;
  width: 26%;
  font-size: 1rem;
}

.stats-container > div {
  height: 80%;
  width: 70%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.games-played, .attempts, .accuracy {
  height: 10%;
  margin: 5px auto;
}
.games-played, .attempts, .accuracy, .description {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  box-shadow: 0 2px 10px 2px rgba(0,0,0,0.1);
}
.value {
  text-align: center;
}
.label {
  font-weight: bold;
}

.description {
  height: 47%;
  margin: 8% auto;
  position: relative;
}
.description .value {
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}
.description .fun-fact{
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.9rem;
}

.description .citation {
  position: absolute;
  bottom: 0;
  font-size: 0.4rem;
  word-wrap: break-word;
}

.stats-container, .game-container {
  display: inline-block;
  vertical-align: top;
}

.reset-button {
  background-color: silver;
  padding: 8px;
  text-transform: uppercase;
  border: 2px solid black;
}


button:hover {
  cursor: pointer;
  background-color: gainsboro;
}


/* GAME AREA */
/*
.game-container {
  height: 100%;
  width: 74%;
  display: inline-block;
}



.game-area {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  height: 84%;
  width: 80%;
  font-size: 0;
  position: relative;
  top: 8.42%;
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 1%;

}

.card {
  width: 16.66%;
  height: 33.33%;
  display: inline-block;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
  perspective: 1000px;
  background-color: transparent;
  cursor: pointer;
}


.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-flip {
  transform: rotateY(180deg);
}


.front, .back {
  height: 95%;
  width: 90%;
  position: absolute;
  top: 2.5%;
  left: 5%;
  box-sizing: border-box;
  border-radius: 5px;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}

.back {
  background-image: url('images/bird.png'), linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  background-size: 100%;
  background-position: center;
  border: skyblue solid;
  background-color: #b8c6db;
}


.front {
  background-size: 100% 100%;
  background-position: cover;
  border: 1px skyblue solid;
  transform: rotateY(180deg);
} */


/* MODAL */
.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(135,206,250, 0.6);
  top: 0;
  padding-top: 25vh;
  display: none;
  z-index: 2;
}

.modal-content {
  background-image: url('images/seagull-79658_1280.jpg'), linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 380px;
  width: 510px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Chicle', cursive;
  position: relative;
  color: blue;
}

.modal-content h2 {
  font-size: 55px;
  font-weight: bold;
}
.play-again-button {
  margin-top: 38px;
}
.play-again-button button {
  background-image: url('images/bird.png'), linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}
.transparent-box {
  background-color: rgba(255,250,240,0.7);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 3px solid navy;
  box-sizing: border-box;
}
.modal-content, .transparent-box {
  border-radius: 10px;
  box-shadow: 0 2px 10px 2px rgba(0,0,0,0.1);
}
.play-again-button button {
  font-size: 40px;
  font-family: inherit;
  background-color: rgba(255,255,255,0);
  border: none;
  color: inherit;
  border: solid navy;
}
.play-again-button button:hover {
  font-size: 45px;
}


.fa-close {
  float: right;
  font-size: 20px;
  color: black;
  cursor: pointer;
  padding: 5px;
}
.fa-close:hover {
  font-size: 30px;
}

/*GAME MODAL*/
.start-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  /* background-color: rgba(0,0,0,0.1); */
  background-image: url(images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* margin-left: 10%; */
  border: 1px solid white;

}

.fa-window-close {
  color: #aaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

.fa-windowclose:hover,
.fa-window-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.start-modal .stats-container {
}
.start-modal .game-area {
  font-size: 0;
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 1%;
  margin: 5% auto;
  border: 1px solid #888;
  width: 65vh;
  height: 65vh;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  background-color: transparent;


}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
}


.start-modal .card {
  width: 25%;
  height: 25%;
  display: inline-block;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
  perspective: 1000px;
  background-color: transparent;
  cursor: pointer;

}


.start-modal  .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.start-modal  .card-flip {
  transform: rotateY(180deg);
}


.start-modal  .front, .back {
  height: 90%;
  width: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  box-sizing: border-box;
  border-radius: 5px;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}

.start-modal .back {
  background-image: url('images/bird.png'), linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  background-size: 100%;
  background-position: center;
  border: darkblue solid;
  background-color: #b8c6db;
}


.start-modal .front {
  background-size: 100% 100%;
  background-position: cover;
  border: 1px darkblue solid;
  transform: rotateY(180deg);
}

.statistics {
  background-color: red;
  font-size: 2rem;
  /* position: relative;
  transform: translate(-50%, -50%); */
  /* width: 65vh;
  height: 15vh;
  margin: 5% auto;
  left: 50%;
  top: 90vh; */
  display: inline-block;
  width: 100%;
  height: 25%;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {

  .description .fun-fact {
    font-size: 0.8rem;
  }
  .game-header {
    height: 160px;
  }

  /* .main {
    height: 548px;
  } */

}

@media only screen and (max-width: 990px) {
  .game-area {
    width: 80%;
  }

  .title {
    margin-right: 2%;
    font-size: 2.0rem;
  }
  .fa-cog, .fa-question, .fa-play-circle {
    font-size: 20px;
    margin: 1px;
    font-size: 16px;
  }
  .logo > img{
    height: 80%;
    top: 10%;
  }
  .description .value {
    font-size: 1rem;
  }
  .description .fun-fact {
    text-align: left;
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 770px) {

  .title {
    font-size: 1.4rem;
  }
  .title h1 {
    border-bottom: solid black;
  }


  .description .value {
    padding-top: 2px;
    padding-bottom: 4px;
  }
  .label {
    font-size: 0.8rem;
  }

  .game-header {
    height: 150px;
  }
  .game-area {
    height: 80%;
  }
  .settings, .about {
    vertical-align: bottom;
  }
  .stats-container > div {
    width: 80%;
  }
}

@media only screen and (max-width: 580px) {
  body {
    width: 580px;
  }
}
