body {
  margin: 0;
  font-size: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(135,206,250);
}


/* HEADER */
.game-header {
  height: 23vh;
  font-size: 1rem;
  text-align: center;
  border-bottom: solid black;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  border-radius: 0 0 10px 10px;
}
.game-header > * {
  display: inline-block;

}
.logo > img {
  height: 22vh;
}

.logo {
  left: 2%;
  position: absolute;
}
.title {
  font-size: 2rem;
  margin-left: 12%;
  margin-right: 5%;
}


.fa {
  font-size: 30px;
  color: black;
  padding: 2px;
  border-radius: 20%;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  position: relative;
  display: inline-block;
  margin: 5px;

}
.settings:hover, .about:hover {
  border-bottom: solid black;
}
/* .settings, .about {
  border-bottom: solid black;
  border-top: solid black;
  padding-top: 10px;
  padding-bottom: 8px;
} */


/* STATS CONTAINER */

.stats-container {
  height: 76vh;
  width: 26%;
  font-size: 1rem;
}

.stats-container > div {
  /* background-color: limegreen; */
  height: 80%;
  width: 70%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.games-played, .attempts, .accuracy {
  height: 15%;
  margin: 5px auto;
}
.games-played, .attempts, .accuracy, .description {
  border: solid black;
  border-radius: 5px;
  box-shadow: 0 10px 6px -6px #777;
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

.value {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}

.description {
  height: 30%;
  margin: 8% auto;
}

.stats-container, #game-area {
  display: inline-block;
  vertical-align: top;
}

.reset-button {
  background-color: silver;
  text-align: center;
  display: inline-block;
  padding: 8px;
  text-transform: uppercase;
  border: solid black;
}


button:hover {
  cursor: pointer;
  background-color: gainsboro;
}


/* GAME AREA */

#game-area {
  background-color: black;
  height: 64vh;
  width: 56%;
  font-size: 0;
  position: relative;
  top: 6.5vh;
}



.card {
  width: 16.66%;
  height: 33.33%;
  display: inline-block;
  box-sizing: border-box;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
}

.front, .back {
  height: 95%;
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 5px;
}

.front {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: cover;
  /* background-image: url('images/whopping_crane.jpeg'); */
}

/* .front2 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: cover;
  background-image: url('images/Western_Meadowlark.jpg');
} */


.back{
  background-image: url('images/bird.png');
  background-image: url('images/bird.png'), linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border: skyblue solid;
  background-color: #b8c6db;

}

/* .card:hover > .back {
  display: none;
} */
